/.venv
/images
/models_1
/models_2
/models_3
/__pycache__
/build
/dist
/dataset
/dataset_grey_granules
/dataset_red_granules
/dataset_casting_discs
/screenshots
/from_video

QC-Monitoring.spec
example.pid
Nicator.ifp
draft.ipynb
example_red_1.jpg
example_red_2.jpg