/images
/models_1
/models_2
/models_3
/__pycache__
/build
/dist
/dataset_grey_granules
/dataset_red_granules
/dataset_casting_discs
/dataset_pipes

QC-Monitoring.spec
example.pid
Nicator.ifp
videos.py
pipes-stable-diffusion.ipynb
granules-grey-efficientnet-b6.ipynb
token.txt