/.venv
/images
/models_1
/models_2
/models_3
/__pycache__
/build
/dist
/dataset_grey_granules
/dataset_red_granules
/dataset_casting_discs
/dataset_diff_color
/dataset_pipes
/color_project/dataset_diff_color
/color_project/__pycache__

QC-Monitoring.spec
example.pid
Nicator.ifp
draft.ipynb
example_red_1.jpg
example_red_2.jpg
test_img.bmp
for_bitrobotics.py